/*Definições gerais*/
body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /*Melhora experiÊncia do menu*/
  }
  /*Menu*/  
  nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }
  
  nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: small;
  }
  @media only screen and (max-width: 600px) {
    nav a{
      font-size: 12px;
    }
  }
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  /*Cores do fundo para nao ficar repetitivo*/
  #sobre-mim { background-color: #f2f2f2; }
  #historico { background-color: #e6e6e6; }
  #portfolio { background-color: #cccccc;}
  #contato { background-color: #bfbfbf;}
  

  /*Roda pé*/
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }

 /*Comeca as partes especificas*/ 
/* Historico - inicialmente seria vetical a timeline - mudei de opinião no meio do caminho*/
.timeline {
  position: relative;
  width: 100%;
  height: auto; /* Altura automática para acomodar todos os contêineres, eu deveria ter colocado altura maxima, mas nao sabia extamente como */
}

.timeline::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #333;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.container {
  position: relative;
  width: calc(20% - 40px);
  margin-bottom: 50px; /* Espaço entre os contêineres */
  display: inline-block; /* Permite que os contêineres fiquem lado a lado */
}

.container .content {
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  position: relative;
  /*z-index: 1;*/ /*Inicialmente os containers estavam sobrepondo a linha do meio, ai coloquei isso, mas ja nao era mais necessário*/
}

.container.right {
  top: -60px; /* Posiciona acima da linha central */
}

.container.left {
  top: 90px; /* Posiciona abaixo da linha central */
}

.container::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 50%;
  z-index: 2;
  left: 50%; /* Posiciona o marcador no meio do container */
  transform: translateY(-50%);
}
/*Marcadores cima e baixo*/
.container.left:before{
  top: -5%;
}
.container.right:before{
  top: 105%;
}
/* Responsividade */ /*tentaiva de responsividade -> agora tentarei vertical*/
@media only screen and (max-width: 600px) {
  .timeline{
    max-height: 100vh;
  }
  .container {
    width: 60%; /* Faz com que os contêineres ocupem a largura total da tela */
    margin-bottom: 20px; /* Reduz o espaço entre os contêineres */
    z-index: 2;
  }

  .container .content {
    padding: 2px; /* Reduz o preenchimento */
  }

  .container.right,
  .container.left {
    top: 0; /* Posiciona todos os contêineres na mesma altura */
  }

  .container::before {
    width: 10px; /* Reduz o tamanho do marcador */
    height: 10px;
  }
  .container::before{
    display: none;
  }
 
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  h2{
    font-size: small;
  }
  p{
    font-size: x-small;
  }
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px; /* Largura da linha */
    height: 100%; /* Altura para corresponder ao elemento pai */
    background-color: #333; /* Cor da linha */
    top: 0;
    left: 50%; /* Posiciona no meio horizontalmente */
    transform: translateX(-50%); /* Centraliza exatamente no meio */
    z-index: 1;
  }
}

/*portfolio*/
#port{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}
iframe{
  width: 80%;
  height: auto;
  width: 42%;
  height: 60%;
}
@media screen and (max-width: 600px) {
  #port{
    
    display: block;
    position: absolute;
  }  
  iframe{
    height: 100%;
    width: 80%;
    height: 40%;
    margin: 3%;
  }
}
/*contato*/
form {
  display: flex;
  flex-direction: column;
  width: 40%;
}
input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(150, 150, 13);
}
@media screen and (max-width: 600px) {
  form {
    width: 90%;
  }
}

/*sobre mim*/

#foto{
  max-width: 100%;
  height: 30%;
  
}

#texto-sobre-mim{
  width: 60%;
}

@media screen and (max-width: 600px) {
  #texto-sobre-mim{
    width: 90%;
  }
}