/*Definições gerais*/
body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /*Melhora experiÊncia do menu*/
  }

  /*Menu*/  
  .icon-menu{
    display: block;
    position: fixed;
    z-index: 10;
    background-image: url(Imagens/icons/icon-menu.png);
    width: 13%;
    height: 45px;
    background-repeat: no-repeat;
    background-size:  contain;
    margin: 15px;
    right: 15px;
    background-position: right;
    background-color: rgba(51, 51, 51, 0); /* Começa transparente */
    transition: background-color 0.5s ease-in-out; /* Transição suave para a cor do fundo */
  
    z-index: 11;
    }
    .icon-menu.active {
      /*background-color: rgba(51, 51, 51, 1); */ /* Cor final do menu */
      background-image: url(Imagens/icons/icon-menu-fechar.png);
    }
  
    #menu {
      background-color: black;
      overflow: hidden;
      position: fixed;
      width: 13%;
      z-index: 10;
      height: auto;
      margin: 15px;
      right: 15px;
      margin-top: 15px;
      visibility: hidden; /* Alterado de display para visibility */
      opacity: 0; /* Inicialmente invisível */
      transition: height 0.1s, width 0.5s, visibility 0s, opacity 0.1s linear; /* Adicionado transição */
      
    }
    
    
    /* Estilo dos Links do Menu */
    #menu a {
      
      width: 100%;
      float: left;
      color: white;
      text-align: left;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      height: 10%;
      
    }
    
  @media only screen and (max-width: 600px) {
    #menu, .icon-menu{
      width: 50%;
    }
    
  }
  nav a:hover {
    transform: scale(1.05,1.05);
    
  }
  

  /*Base geral dos sites*/
  .section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  /*Cores do fundo para nao ficar repetitivo*/
  #inicio { background-color: black; color: white;font-family: "poppins-medium", sans-serif;background-image: url(fundo-preto.avif);background-size: contain;background-repeat: no-repeat;background-position: right;}
  #sobre-mim { background-color: white; }
  #historico { background-color: #e6e6e6; }
  #portfolio { background-color: #cccccc;}
  #contato { background-color: #bfbfbf; height: 80vh;margin-top: -10px;}
  
  /*Comeca as partes especificas*/ 

  /*Pagina Inicio*/
  #inicio h5{
    font-size: large;
    color: aqua;
    height: auto;
    /*background-color: white;*/
    margin: 0;
  }
  #inicio p{
    font-family: "lora-regular", serif;
    font-size: medium;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #FFFFFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  }

  #inicio .mini-menu{
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-color: #bfbfbf;
    border-style: solid;
  }
  #inicio .mini-menu:hover{
    border-color: aqua;
    /*color: aqua;*/
    cursor: pointer;
  }
  #inicio h1{
    font-size: 72px;
    margin: 0;
    padding: 0;
  }

  /*responsividade*/
  @media only screen and (max-width: 600px) {
    #inicio p{
      font-size: medium;
      letter-spacing: normal;
      text-transform: capitalize;
    }
    #inicio h1{
      font-size: 45px;
    }
    #inicio{
      background-size: cover;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent), url(fundo-preto.avif);
      background-position: center;
    }
  }
 

  

 
/* Historico - inicialmente seria vetical a timeline - mudei de opinião no meio do caminho*/
.timeline {
  position: relative;
  width: 100%;
  height: auto; /* Altura automática para acomodar todos os contêineres, eu deveria ter colocado altura maxima, mas nao sabia extamente como */
}

.timeline::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #333;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.container {
  position: relative;
  width: calc(20% - 40px);
  margin-bottom: 50px; /* Espaço entre os contêineres */
  display: inline-block; /* Permite que os contêineres fiquem lado a lado */
}

.container .content {
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  position: relative;
  /*z-index: 1;*/ /*Inicialmente os containers estavam sobrepondo a linha do meio, ai coloquei isso, mas ja nao era mais necessário*/
}

.container.right {
  top: -60px; /* Posiciona acima da linha central */
}

.container.left {
  top: 90px; /* Posiciona abaixo da linha central */
}

.container::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 50%;
  z-index: 2;
  left: 50%; /* Posiciona o marcador no meio do container */
  transform: translateY(-50%);
}
/*Marcadores cima e baixo*/
.container.left:before{
  top: -5%;
}
.container.right:before{
  top: 105%;
}
/* Responsividade */ /*tentaiva de responsividade -> agora tentarei vertical*/
@media only screen and (max-width: 600px) {
  .timeline{
    max-height: 100vh;
  }
  .container {
    width: 60%; /* Faz com que os contêineres ocupem a largura total da tela */
    margin-bottom: 20px; /* Reduz o espaço entre os contêineres */
    z-index: 2;
  }

  .container .content {
    padding: 2px; /* Reduz o preenchimento */
  }

  .container.right,
  .container.left {
    top: 0; /* Posiciona todos os contêineres na mesma altura */
  }

  .container::before {
    width: 10px; /* Reduz o tamanho do marcador */
    height: 10px;
  }
  .container::before{
    display: none;
  }
 
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  h2{
    font-size: small;
  }
  p{
    font-size: x-small;
  }
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px; /* Largura da linha */
    height: 100%; /* Altura para corresponder ao elemento pai */
    background-color: #333; /* Cor da linha */
    top: 0;
    left: 50%; /* Posiciona no meio horizontalmente */
    transform: translateX(-50%); /* Centraliza exatamente no meio */
    z-index: 1;
  }
}

/*portfolio*/
#port{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}
.opcao{
  width: 80%;
  height: auto;
  width: 42%;
  height: 60%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
.opcao:hover{
  transform: scale(1.5,1.5);
  z-index: 3;
  
}
@media screen and (max-width: 600px) {
  #port{
    
    display: flex;
    max-height: 50%;
  }  
  .opcao{
    height: 200PX;
    width: 200PX;
  
   
   
  }
  
  
}
/*contato*/
form {
  display: flex;
  flex-direction: column;
  width: 40%;
}
input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 10px 20px;
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(150, 150, 13);
}
@media screen and (max-width: 600px) {
  form {
    width: 90%;
  }
}

/*sobre mim*/

#sobre-mim .conteudo{
  width: 90%;
  display: flex;
  height: 85%;
  margin-top: 0%;
  justify-content: center;
}
#sobre-mim .esquerda{
  width: 10%;
  height: 100%;
}
#sobre-mim .direita{
  width: 35%;
  height: 100%;
  font-size: x-large;
  color: gray;
  text-align: left;
 
}
#foto{
  background-position: top;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
/*Roda pé*/
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
 /* position: fixed; */
  bottom: 0;
  width: 100%;
  z-index: 10;
}